@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffffff;
  --orange: #fb7413;
  --light-gray: #959eac;
  --medium-gray: #7c8798;
  --dark-blue: #252d37;
  --very-dark-blue: #121417;
}

body {
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: var(--light-gray);
  background-color: var(--very-dark-blue);
}